.club-title {
  padding-top: 20px;
  text-align: center;
}

#club-page .content-wrapper {
  padding: 0 30px;
}

.btnDiv {
  text-align: right;
}

#club-page-nav {
  margin-top: 20px;
  width: 100%;
}

#club-page-nav li {
  display: inline-block;
}

#club-page-nav a {
  color: #333;
  padding: 10px;
}

#club-page {
  padding: 0;
}

#club-page .meeting-content img {
  width: 130px;
  height: 200px;
}
.meeting-text p {
  margin: 0;
}

.meeting-content {
  padding: 20px;
}