
.btnDiv {
  text-align: right;
}

.flexRow {
  flex-direction: column;
}
.flexRow li {
  padding: 10px;
}
.clubHeader {
  font-size: 150%;
  text-align: left;
  padding-top: 2px;
  padding-left: 15px;
  clear:both;
}
.clubNav {
  outline: 1px solid;
}
.clubNav li {
  display: inline;
  float: left;
}

.btn:hover, #button1:hover {
  color: #292624;
  background: #e6e6e6;
}

/*Header*/
.dashboard-header {
  font-size: 1.4em;
  color: #000;
}

.dashboard-title {
  font-size: 1.8em;
  color: #000;
}


/*Info Section*/

.book-carousel {
  background-color: #e6e6e6;
}

.carousel-list {
  margin-top: 1em;
}

/*Section B */
.carousel-card-img {
  height: 270px;
  width: 180px;
  object-fit: cover;
  margin:  0 auto;
}

.carousel-card {
  padding-bottom: 20px;
}

/*Section C */

#section-c .box {
  padding: 2em;
  color: #292624;
  background: #fff;
  text-align: center;
}

#section-c .box:first-child {
  background: #c75959;
  color: #fff;
}

/*Footer*/

#main-footer {
  padding: 1em;
  background: #292624;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

/* Login signup */

#button1 {
  width: 30%;
  color: white;
  padding: 0.82em;
  background-color: #c75959;
  border-radius: 5px;
  margin-right: 20px;


}

#button2 {
  width:50%;
  padding: 3%;
  margin-bottom: 10%;

}

#login-err {
  color: red;
  text-align: left;
  font-family: Arial;
  font-size: 80%;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 15px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  opacity: 1;
}

.close:hover {
  color: #fff;
  opacity: 1;
}