/*CORE*/

.modal-dialog {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: transparent;
  margin: 3em auto 4em;
  cursor: auto;
}

.modal-tab {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  background-color: #e6e6e6;
  color: #8f908f;
}
.modal-tab.active {
  background-color: #fff;
  color: #333;
}
.nav-link, .nav-link.active {
  border: none;
}
.nav-link:hover {
  border: none;
}

.nav-tabs li:last-child {
  border-top-right-radius: 0.3em;
}

.nav-tabs li:first-child {
  border-top-left-radius: 0.3em;
}
.tab-content {
  padding: 2em 2em 0.5em 2em;
}

.modal-content, .modal-body {
  padding: 0;
}

.btn {
  text-decoration: none;
  padding: 0.8em 1.5em;
  color: #fff;
  background: #292624;
  border: 1px solid #666;
  margin: .5em 0;
  display: inline-block;
}

.btnDiv {
  text-align: right;
}

.flexRow {
  flex-direction: column;
}
.flexRow li {
  padding: 10px;
}
.clubHeader {
  font-size: 150%;
  text-align: left;
  padding-top: 2px;
  padding-left: 15px;
  clear:both;
}
.clubNav {
  outline: 1px solid;
}
.clubNav li {
  display: inline;
  float: left;
}

.btn:hover, #button1:hover {
  color: #292624;
  background: #e6e6e6;
}

/*Header*/
#showcase {
  height: 600px;
  color: #fff;
  text-align: center;
}

.dashboard-header {
  font-size: 1.4em;
  color: #000;
}

.dashboard-title {
  font-size: 1.8em;
  color: #000;
}

#showcase .bg-image {
  position: absolute;
  background: url('https://source.unsplash.com/IMtEliM53Lc') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 600px;
  z-index: -1;
  opacity: 1;
}

.bg-overlay {
  background-color: #000000;
  opacity: 0.4;
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: -1;
}

.showcase-header {
  padding-top: 100px;
  margin-bottom: 1rem;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 2px;

}

.showcase-text {
  font-size: 18px;
  line-height: 30px;

}

#showcase .content-wrapper {
  padding: 1.5em;
  padding-top: 20%;
}
/*Info Section*/
#info-section {
  background: #f5f5f5;
  color: #292624;
}

.content-title {
  font-size: 1.6em;
  font-weight: 300;
  padding: 0.8em 0;
  text-align: center;
}

.card-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 1em;
}

.card-box {
  padding: 0 1em;
  text-align: justify;
  line-height: 30px;
  display: inline-block;
}
.content-wrapper {
  padding: 1.5em 1em;
}

.book-carousel {
  background-color: #e6e6e6;
}

.carousel-list {
  margin-top: 1em;
}

/*Section B */
.carousel-card-img {
  height: 270px;
  width: 180px;
  object-fit: cover;
  margin:  0 auto;
}

.carousel-card {
  padding-bottom: 20px;
}

/*Section C */

#section-c .box {
  padding: 2em;
  color: #292624;
  background: #fff;
  text-align: center;
}

#section-c .box:first-child {
  background: #c75959;
  color: #fff;
}

/*Footer*/

#main-footer {
  padding: 1em;
  background: #292624;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}


@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 23em)) 1fr;
  }
  .card-box,
  {
    columns: 2;
    column-gap: 2em;
    padding: 0;
  }

  .content-wrapper,
  #section-b .carousel-list {
    grid-column: 2/4;
    padding: 1.5em 0;
  }

  .info-cards,
  #section-b .carousel-list {
    display: flex;
    justify-content: space-around;
  }

  .card-box,
  .carousel-card {
    width: 33%;

  }
  .box, #main-footer div {
    grid-column: span 2;
  }


  .home {
    display: none;
  }

}

/* Login signup */

#button1 {
  width: 30%;
  color: white;
  padding: 0.82em;
  background-color: #c75959;
  border-radius: 5px;
  margin-right: 20px;


}

#button2 {
  width:50%;
  padding: 3%;
  margin-bottom: 10%;

}

#login-err {
  color: red;
  text-align: left;
  font-family: Arial;
  font-size: 80%;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 15px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  opacity: 1;
}

.close:hover {
  color: #fff;
  opacity: 1;
}