
/*  ################################################################
  1. GENERAL STRUCTURES
################################################################# */

* {
  margin: 0;
  padding: 0px;
}

body {
  background: #ffffff;
  margin: 0;
  height: 100%;
  color: #384452;
  font-size: 14px;
  font-weight: 400;
}

p {
  padding: 0;
  line-height: 24px;
  color: #384452;
  margin-top: 10px;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
}

blockquote p{
  margin: 0 20px;
}

.book-cover {
  width: 130px;
  height: 200px;
  object-fit: cover;
}

.centered {
  text-align: center
}

.content-wrapper {
  padding: 40px 0;
}

.hline {
  border-bottom: 2px solid #384452;
}

.hline-w {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 25px;
}

.mt {
  margin-top: 25px;
}

/*  ################################################################
  BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */

.navbar {
  min-height: 70px;
}

.navbar-brand {
  font-weight: 900;
  color: white;
}

.btn {
  text-decoration: none;
  padding: 0.8em 1.5em;
  color: #fff;
  background: #292624;
  border: 1px solid #666;
  margin: .5em 0;
  display: inline-block;
}


/*  ################################################################
  HOMEPAGE
################################################################# */

/*Frontpage Header*/
.showcase_image {
  position: absolute;
  background: url('https://source.unsplash.com/IMtEliM53Lc') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
  opacity: 1;
}

.bg-overlay {
  background-color: #333;
  opacity: 0.3;
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: -1;
}

.showcase {
  height: 500px;
  color: #fff;
  text-align: center;
  color: #fff;
}

.showcase_wrap {
  padding-top: 15%;
}

.showcase_wrap_text {
  font-weight: 400;
  margin: 0 auto;
  width: 80%;
}

/*How it Works Section*/
#service i {
  color: #E85E4F;
  font-size: 40px;
  padding: 15px;
}

/*Book Feature Section*/
.feature {
  background-color: #77bdbc;
  color: #fff;
}

.feature h3 {
  margin-bottom: 25px;
}

.feature h5 {
  margin-top: 25px;
}


.action-content {
  background-color: #FFCC5E;
  text-align: center;
}
/*Footer Section*/

#footerwrap {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333;
}

#footerwrap p {
  color: #bfc9d3;
}

#footerwrap h4 {
  color: white;
}


/*  ################################################################
  LOGIN MODAL
################################################################# */

.modal-dialog {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: transparent;
  margin: 3em auto 4em;
  cursor: auto;
}

.modal-tab {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  background-color: #77bdbc;
  color: #fff;
}
.modal-tab.active {
  background-color: #fff;
  color: #333;
}

.modal-btn {
  color: #fff;
  background-color: #76bdbc;
  margin: 0.75em 1em;
}

.nav-link, .nav-link.active {
  border: none;
}
.nav-link:hover {
  border: none;
}

.nav-tabs li:last-child {
  border-top-right-radius: 0.3em;
}

.nav-tabs li:first-child {
  border-top-left-radius: 0.3em;
}
.tab-content {
  padding: 2em 2em 0.5em 2em;
}

#modal {
  padding: 0;
}
#button2 {
  width:50%;
  padding: 3%;
  margin-bottom: 10%;

}

#login-err {
  color: red;
  text-align: left;
  font-family: Arial;
  font-size: 80%;
}

.close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 15px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  opacity: 1;
}

.close:hover {
  color: #fff;
  opacity: 1;
}

.btn:hover {
  color: #292624;
  background: #e6e6e6;
}

