.connected {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.disconnected {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

#title {
  background: #5fabb9;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fffcf4;
    text-shadow: 2px 2px 4px #000000;
}

.title-sub {
  color: #fffcf4;
  font-size: 75%;
  text-align: left;
  text-transform: uppercase;
}

.right {
  text-align: right;
  float: right;
}

.left {
  text-align: left;
  float: left;
}

.centered {
  text-align: center
}

.uppercase {
  text-transform: uppercase;
}

#trivia {
background:#fffcf4;	

}

.ans-button1:hover{
  background: #5fabb9;
  margin-top: 5%;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #fffcf4;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ans-button2{
  background: white;
  margin-top: 5%;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #5fabb9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.q-button {
  background: #5fabb9;
  color: #fffcf4;
  border-radius: 8px;
  padding:10px;
  font-size: 200%;
  margin-top:40px;
  margin-bottom: 40px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav-buttons {
  background: #5fabb9;
  color: #fffcf4;
  border-radius: 8px;
  padding:10px;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.score-board {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 30px;
}

#incorrect {
  color: red;
  text-shadow: 2px 2px 4px #000000; 
}

#correct {
  color: green;
  text-shadow: 2px 2px 4px #000000;
}

.play-but {
  background: #5fabb9;
  margin-top: 5%;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #fffcf4;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 20px 40px 20px 40px;
}

.play-but2:hover {
  background: white;
  margin-top: 5%;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #5fabb9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 20px 40px 20px 40px;
}

.reset-button {
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
}








